@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap');

* {
	box-sizing: border-box;
}

body {
	margin: 0;
	background-color: rgb(242, 248, 250);
	color: rgb(0, 33, 95);
	font-family: Roboto, Arial, sans-serif;
}